## Importing Libraries

In [17]:
#!pip install geocoder

In [18]:
import pandas as pd
import numpy as np
import geocoder

In [19]:
df = pd.read_csv('Toronto-nb.csv')
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [20]:
# defining function to assign lat and lng values
def get_latilong(postal_code):
    lati_long_coords = None
    while(lati_long_coords is None):
        g = geocoder.arcgis('{}, Toronto, Ontario'.format(postal_code))
        lati_long_coords = g.latlng
    return lati_long_coords
    
get_latilong('M1B')

[43.81153000000006, -79.19551999999999]

In [21]:
# Making Latitude and Longitude Values
pc = df['PostalCode']
ll = [get_latilong(pc) for pc in pc.tolist()]
df_nb = pd.DataFrame(ll, columns=['lat','long'])
df['Latitude'] = df_nb['lat']
df['Longitude'] = df_nb['long']

In [22]:
df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.81153,-79.19552
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.78564,-79.15871
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.76575,-79.17520
3,M1G,Scarborough,Woburn,43.76820,-79.21761
4,M1H,Scarborough,Cedarbrae,43.76969,-79.23944

In [23]:
df.to_csv('Toronto-nb2.csv', index=False)